body {
    font-family: "Roboto", sans-serif;

}

a {
    text-decoration: none;
    color: #5A280E;
}


#flexible_article {

    display: flex;
    flex-direction: row;

    background-color: #FAF7E5;
    margin: 15px;

}


img {
    width: 300px;
    margin: 10px

}

.articolo_testo {
    margin: 20px
}

