



body{
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
    margin: 0;
}


#container{
    width: 70%;
   margin: 0 auto;
}

#centered{
    margin: 0 auto;
    
}


h2{
    font-weight: 100;
    margin-bottom: 1em;
    margin-top: 2em;
}



#barra {
    padding: 0.6em;
    background-color: #FDFAF0;
    border-top: 1px solid; color: #FFDC8D;
    margin-bottom: 2em;
    color: #006160;
}
#li-unico{
    list-style-type: none;
    margin-top: 1em;
}

li{
    margin-top: 1em;
    font-weight: normal;
}

.li-primo{
    font-weight: bold;
}

#sottotitolo{
    color: black;
    font-size: 0.9em;
    text-align: center;

}

cite{
    font-style: normal;
    font-size: .8em;
    color: #8A8A8A;
    display: block;
    text-align: center;
    margin-bottom: 3em;
    
}

#featured{
    color: #B22E00;
    margin-bottom: 0em;
}

a:link{
    color: #006160;
}

a:active{
    color: #006160;
}
a:hover{
    color: #006160;
}
a:visited{
    color: #006160;
}

.titolo-lista{
    font-weight: bold;
    margin-top: 3em;
}

.hr{
    height: 0.2em;
    background-color: #DFF8F7;
    border: none;
}

video[poster]{
    height:100%;
    width:100%;
    }

#logo{
        display: block;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        
    }