
body {
    font-family: "Roboto", sans-serif;

}

a {
    text-decoration: none;
}



container {
    display: flex;
}




/* ========== NAV BAR ======== */


#navigation_bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-inline: 15px;
    background-color: #FAF7E5;
    font-size: 12px;
    border-radius: 45px;
    gap: 10px;
    margin-bottom: 25px;

}



#navigation_bar>a {

    background-color: #F0DF91;
    padding: 15px;
    border-radius: 45px;
    margin-top:  30px;
    margin-bottom: 30px;
    color: #692610;
}


@media screen and (min-width: 320px) {
    

container {
    flex-wrap: wrap;
}



#butt_1 {
        order: 2;
    }

  #butt_2 {
    order: 3;
  }

  #butt_3 {
    order: 1;
    align-items: center;

  }


  #butt_4 {
    order: 4;
  }

  #butt_2 {
    order: 5;
  }


#flexible_article {
    
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


}

/* #navigation_bar a:nth-of-type(3){
    
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 150px;    

} */





/* ========== PRODUCT ======== */


#product {
    width: 100%;
}

.single_product {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    height: 600px ;
    width: 100%;
    background-color: #FAF7E5;
    border-radius: 20%;
    margin-inline: 10px;
}


.img {
    width: 100%;
    height: 75%;
    background-image: url(./imgs/honey.jpg);
    background-repeat: no-repeat;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;


}


.prod_content {

        width: 70%;
        margin-top: 10%;
        flex-wrap: wrap;
        align-items: center;
        

}


.button_prod {
    width: px;
    height: 35px;
    background-color: #F0DF91;
    border-radius: 30px;
    margin-top:20px;
    margin-bottom: 25px;
    text-align: center;

}


.descrizione {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h4 {
    font-size: 30px;
    font-weight: 500;
    color: #5A280E;
    margin-bottom: 14px;
}
.sottotiolo {
    margin-left: 25px;
    display: inline-block;
}

.prezzo {
    display: inline-block;
    justify-content: stretch;
    font-size: 28px;
    position: relative;
    /* top: ; */


}

.sottotitolo,.prezzo, .button_prod {

    color: #5A280E;
    
}



/* ========== ARTICLE ======== */





#flexible_article {

    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: #FAF7E5;
    margin: 15px;

}


img {
    width: 300px;
    margin: 10px

}

.articolo_testo {
    margin: 20px;
}

