/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/



#testoAlternato {
    

width: 80%;
padding: 30px;
margin: 50px;
line-height: 50px;
border: 2px solid;
border-color: rgb(84, 81, 81);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 30px;
position: absolute;
    
}




.parole{
    
    width: 300px;

    position: absolute;
    animation-name: parolemov, opa;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-direction:alternate-reverse;
    text-align: center;
    line-height: 100px;
 }



 @keyframes parolemov {
    from {
      transform: translateY(-100%);}
    to {
      transform: translateY(5%);}


  }@keyframes opa{
    0%{opacity: 0;}
    10%{opacity: 0.2;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}